.wrapper {
  display: flex;
  justify-content: center;
}
.chart {
   margin: 0 auto;
   padding: 5%;
   width: 100%;
   max-width: 800px;
   border: 1px solid;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}