.section {
  margin-top: 5%;
  margin-bottom: 5%;
  justify-items: center;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 8px;
  line-height: 1.4;
  text-decoration: none;
}

.image {
  width: 500px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-radius: 9999px;
  margin-right: 8px;
  font-weight: bold;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.active {
  background-color: #228B22;
    color: #fff;
    border: none;
}